<% unless @inactive_curriculums.empty? %>
 <h3>Inactive Curriculums</h3>
    <table>
      <thead>
        <tr>
        <th>Curriculum Name</th>
        </tr>
      </thead>
      <tbody>
        <%@inactive_curriculums.each do |a|%>
        <tr>
          <td><%= link_to a.name,curriculum_path(a) %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
<% end %>