<div id ="pic1">
  <div class="row">
   <div class ="small-8 colums">
    <h1>Curriculum Details</h1>
    </div>
  </div>
</div>
<%= render :partial => "partials/flash" %>
</br>
<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "curriculum_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'camps_using' %>
  </div>
</div>
<div class="row">
<%= render partial: "partials/object_options", locals: {model_name: "curriculum", object: @curriculum}  %>
</div>