<% unless @student.registrations.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Registrations for this student</h5>
    <ul class="side-nav">
      <% @student.registrations.each do |registration| %>
        <li><%= link_to student.name, student_path(student) %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5>No Students</h5>
  </div>
<% end %>