<% unless @instructors.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Camp Instructors</h5>
    <ul class="side-nav">
      <% @instructors.each do |instructor| %>
        <li><%= link_to instructor.name, instructor_path(instructor) %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5>No Instructors</h5>
  </div>
<% end %>

<h5>Registrations (<%=@regs.count%>)</h5>
<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @regs.each do |reg| %>
      <tr>
        <td><%= reg.student.name %></td>
        <td><%= reg.student.rating==0 ? "Unrated" : reg.student.rating%></td>
      </tr>
    <% end %>
  </tbody>
</table>
