<div id ="pic1">
  <div class="row">
   <div class ="small-6 colums">
    <h1>Edit Camp</h1>
   	</div>
  </div>
</div>
</br>
<% if @camp.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h3>
      <ul>
      <% @camp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class ="small-12 colums">
   	<%= render 'form' %>
</div>
</div>
