<%  if eval(this_object).errors.any? %>
<div data-alert data-options="animation_speed:500, animation:'fadeOut';" class="alert-box warning radius">
    <a href="#" class="close">&times;</a>
<h6><%= pluralize((this_object).errors.count, "error" )%> prohibited this instructor from being saved:</h6>
<% this_object.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
</br>
<% end %>
  </div>
<% end %>

