
<div id ="pic">
  <div class="row">
   <div class ="small-6 colums">
    <h1 id="welcome">Learn Chess </br> Better, Together</h1>
   </div>
	</br>
   <div class ="small-6 colums">
   	<p id ="ad">
   	Interested in Chess? Want to learn something in the summer?</br>
 	Come to A&M Chess Camp. You will definitely have good experience at
 	A&M with friends, chess and much more.
	</p>
   </div>
  </div>
</div>
    


<p>If you are an administrator (don't lie), <%= link_to "click here to review camps.", camps_path %></p>