	<div id ="pic1">
  <div class="row">
   <div class ="small-6 colums">
    <h1>Contact Us</h1>
   	</div>
  </div>
</div>
</br>
<div class="row">
<div class ="small-12 colums">
   	<p><div id="profile"><%= image_tag 'portrait.jpg' %></div>Unfortunately, the A&M Chess Camp is not a real website, but rather a 
	sample project for programming students at Carnegie Mellon University. We 
	are sure that you wanted good chess instrusction.  If you are 
	bitterly disappointed (and quite honestly, you should be) and want to 
	grouse to someone, here's the contact info:</p>

<table cellpadding="3">
	<tr>
		<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
		<td>Leo Ying</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
		<%= mail_to("zying@andrew.cmu.edu", "Leo Ying*", encode: "javascript") %> 
		</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>123-456-7890</td>
	</tr>
</table>

<p class="note"><br>I am a Information Systems sophomore at Carnegie Mellon University
	<br><br><em>I am right-handed but I rode my bike with my left hand</em></p>

</div>
</div>
