<div id ="pic1">
  <div class="row">
   <div class ="small-6 colums">
    <h1>Privacy</br> Policy</h1>
   	</div>
  </div>
</div>
</br>
<div class="row">
<div class ="small-12 colums">
A&M Chess Camp is committed to protecting the privacy of confidential information submitted through our web sites by employees, students, and visitors. The purpose of this privacy statement is to inform you regarding which personal or personally identifiable information we may collect from you when you visit our websites, as well as how we use such information. 

Information About You
We collect information about you from our web sites through:
Web Logs and Cookies:  Our web servers generate temporary logs and cookies that contain a variety of information about each user and his/her use of our web sites.  The data that we collect helps us respond to user requests in an appropriate and/or personalized manner.
Online Forms:  We hosts numerous online forms through which it collects user information.  This information helps us serve its users more efficiently. Delivery of the service supported by an online form may require that we share information with external business partners.  In any such case, the external business partner will be contractually required to honor our commitment to the privacy of that information.
Online Surveys:  There are typically numerous online surveys being conducted on our web sites. Person(s) responsible for conducting online surveys that collect personally identifiable information should clearly state at the survey site the extent to which any information provided will be shared. Data from surveys may be shared with external third parties in ways that do not compromise privacy.
</p>
</div>
</div>