<%  if @location.errors.any? %>
<div data-alert data-options="animation_speed:500, animation:'fadeOut';" class="alert-box warning radius">
    <a href="#" class="close">&times;</a>
<h3><%= pluralize(@location.errors.count, "error")%> prohibited this location from being saved:</h3>
      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
</div>
<% end %>

